.thropy {
    font-size:90px;
    margin: auto;
}

.first {
    color:yellow;
}

.second {
    color:#73706e;
}

.third {
    color:#a34715;
}

.items span .bre {
    color:white;
    font-size: 25px;
}